.el-menu.el-menu--horizontal {
    border: none;
}


.time {
    font-size: 16px;
    line-height: 20px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
}

.image {
    width: 100%;
    display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}



.el-menu-item {
    font-size: 20px;
    font-weight: bold;
}

#box {
    width: 80%;
    margin: 0 auto
}
#box>#main {
    height: auto;
    background-color: #FFF;
    margin-top: 50px;
}

#daohang {
    width: 100%;
}

 .dt_elcol {
    margin-top: 5px;
    margin-bottom: 15px;
}

#footer {
    height: 60px;
    width: 80%;
    position: fixed;
    bottom: 30px;
    text-align: center;
}

.forumlist_card{
    padding: 14px;
    text-align: center;
}